#challenges-section li {
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 4px;
}

#challenges-section li:hover {
    background-color: rgba(0, 0, 0, .1);
}

#challenges-section li .title {
    font-weight: bold;
}